body {
    background-color: #f5f7fa;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.custom-navbar {
    background-color: rgba(242, 129, 23, 0.872);
}

.navbar-brand,


.nav-link {
    margin: 0 6px;
    padding: 6px 12px !important;
    border-radius: 10px;
}

/* MENU ATIVO */
.active-menu {
    background: rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* CARDS */
.card {
    border: none;
    border-radius: 15px;
}

.dashboard-card {
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: scale(1.03);
}

/* CORES */
.card-primary { background: rgba(23, 235, 242, 0.872); color: white; }
.card-success { background: #f9e3a4; }
.card-warning { background: oklab(83.474% -0.06142 -0.03648 / 0.91); }
.card-danger { background: #dc3545; color: white; }

/* GRAFICO */
.pie-chart-container {
    display: flex;
    justify-content: center;
}

.pie-chart {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: conic-gradient(
        rgba(242, 129, 23, 0.872) 0% 45%,
        #f9e3a4 45% 70%,
        oklab(83.474% -0.06142 -0.03648 / 0.91) 70% 100%
    );
}

/* LEGENDAS */
.legend {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

/* GALERIA */
.dog-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.dog-image {
    width: 140px;
    height: 140px;
    background: #e9ecef;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 6px;
}

        :root {
            --corprimaria: #f48a28;
            --corsecundaria: #c9ad6d;
            --corterciaria: #e2b740;
        }

        .navbar { background-color: var(--corsecundaria) !important; }
        .banner { background-color: #fff9f2; padding: 0px 0; text-align: center; color: var(--corprimaria); }
        

        
        .text-orange { color: var(--corprimaria); }
        .text-blue { color: var(--corsecundaria); }
        .logo {
            height: 75px;      
            width: auto;
            margin-bottom: -35px; 
            position: relative;
            z-index: 1050;  
        }
        body {
        font-family: 'Quicksand', sans-serif;
        }
        h1, h2, h3, h4, h5 {
        
        font-weight: 700;
        color:var(--corprimaria);
        }

        .textodash{
            color:black;
        }

    .fundoclaro {
        background-color:var(--corsecundaria);
    }